body {
  background-color: white ;
}

.container-fluid{
  padding: 0;
}

.hero-section {
  background-image: url('/website/assets/img/bg.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  height: 800px; /
  margin: 0; 
}

.hero-text-container {
  padding-top: 0; 
  margin-bottom: 10rem; 
}

.hero-overlay {
  background: rgba(255, 255, 255, 0.8); 
  width: 97%; 
  max-width: none; 
  margin: 0.5rem 0; 
  margin-left: 0; 
  margin-right: 0;
}

.hero-section h1 {
  margin: 0;
  color: #000; 
}

.hero-section h2 {
  margin: 0;
  color: #000; 
}

.heisenberg {
  border-radius: 100%;
  object-fit: cover;
}