body {
  background: white;
  margin: 0;
  padding: 0;
}


.hero-section {
  background-image: url('/website/assets/img/bg.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
  height: 800px; */
}

.hero-text-container {
  padding-top: 0; 
  margin-bottom: 10rem;
}

.hero-overlay {
  background: rgba(255, 255, 255, 0.8); 
  width: 94%; 
  max-width: none; 
  margin: 0.5rem 0; 
}

.hero-section h1 {
  margin: 0; 
  color: #000;
}

.hero-section h2 {
  margin: 0; 
  color: #000;
}