<!-- your html code here -->
<div class="team-spacer"></div>
<div class="container"> <!--wholething(change width and center)-->
    <div class="row">
        <div class="col-lg-7"> <!--lefttext-->
            <div class="row"> <!--hedder-->
                <h1>
                    <span>My name is </span>
                    <span class="text-secondary">Walter Hartwell White</span>
                </h1>
            </div>
            <div class="row w"> <!--teggzt-->
                I live at 308 Negra Arroyo Lane, Albuquerque, New Mexico, 87104. This
                is my confession. If you're watching this tape, I'm probably dead, murdered by my brother-in-law Hank
                Schrader. Hank has been building a meth empire for over a year now and using me as his chemist. Shortly
                after my 50th birthday, Hank came to me with a rather, shocking proposition. He asked that I use my
                chemistry knowledge to cook methamphetamine, which he would then sell using his connections in the drug
                world. Connections that he made through his career with the DEA. I was... astounded, I... I always
                thought that Hank was a very moral man and I was... thrown, confused, but I was also particularly
                vulnerable at the time, something he knew and took advantage of. I was reeling from a cancer diagnosis
                that was poised to bankrupt my family. Hank took me on a ride along, and showed me just how much money
                even a small meth operation could make. And I was weak. I didn't want my family to go into financial
                ruin so I agreed. Every day, I think back at that moment with regret. I quickly realized that I was in
                way over my head, and Hank had a partner, a man named Gustavo Fring, a businessman. Hank essentially
                sold me into servitude to this man, and when I tried to quit, Fring threatened my family. I didn't know
                where to turn. Eventually, Hank and Fring had a falling out. From what I can gather, Hank was always
                pushing for a greater share of the business, to which Fring flatly refused to give him, and things
                escalated. Fring was able to arrange...
            </div>
        </div>
        <div class="col-lg-5"> <!--rightimage-->
            <img class="heisenberg img-fluid" src="../website/assets/img/1.jpg" style="w-20">
        </div>
    </div>
</div>