<section id="portfolio">
    <div class="container my-5">
        <div class="row mx-5">
            <hr id="separator">
            <div class="col-12 pt-5">
                <h1>Portfolio</h1>
                <span class="fs-6 text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </div>
            <div class="row mt-3 pb-5 g-4">
                <div class="col-4 mt-0">
                    <img src="https://placehold.co/700x400" class="card-img-top"
                        alt="700 pixel by 400 pixel placeholder image">
                    <div>
                        <h5 class="card-title text-primary pt-3">Project Name</h5>
                        <span style="font-size: 0.75rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                            pariatur vel animi, ipsam quos impedit sequi dignissimos error.</span>
                    </div>
                </div>
                <div class="col-4 mt-0">
                    <img src="https://placehold.co/700x400" class="card-img-top"
                        alt="700 pixel by 400 pixel placeholder image">
                    <div>
                        <h5 class="card-title text-primary pt-3">Project Name</h5>
                        <span style="font-size: 0.75rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                            pariatur vel animi, ipsam quos impedit sequi dignissimos error.</span>
                    </div>
                </div>
                <div class="col-4 mt-0">
                    <img src="https://placehold.co/700x400" class="card-img-top"
                        alt="700 pixel by 400 pixel placeholder image">
                    <div>
                        <h5 class="card-title text-primary pt-3">Project Name</h5>
                        <span style="font-size: 0.75rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                            pariatur vel animi, ipsam quos impedit sequi dignissimos error.</span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mx-5" id="separator">
    </div>
</section>