<!-- your html code here -->
<hr id="separator">
<div class="container d-flex justify-content-center">
  <img src="assets/img/2.jpg" alt="Image 2" class="rounded-circle me-4" style="width: 160px; height: 160px;" />
  <div>
    <h3>The Second Heading is Pretty Cool Too.</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil porro qui quibusdam suscipit dicta minus
      recusandae aut fuga explicabo, distinctio obcaecati dolores perspiciatis, vel fugit. Esse aliquid laborum totam
      mollitia.</p>
  </div>
</div>